*{
    background-color: rgb(10, 10, 10);
}
.invert{
    filter: invert(1);
}
.trans{
    background: transparent;
    border: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-1{
    height: 40px;
    background: transparent;
    border: none;
    padding: 0;
}
.homes{
    border: 2px solid rgb(0, 0, 0);
    width: 43px;
    height: 43px;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 49, 49);
}
.nav-1 img{
     width: 24px;
    height: 24px;
    display: block; 
}

.download{
    display: flex;
    justify-content: center;
    align-items: center;
}
.download span{
    color: white;
}
.nav-2{
    color: rgb(0, 0, 0);
    border:2px;
    background-color:white;
    border-radius: 23px;
    height: 30px;
}
.profile {
    color: white;
    border: 2px solid rgb(101, 107, 93);
    border-radius: 50px;
    border-width: 3px;
    width: 40px;
}
.input{
    background: transparent;
    border: 2px solid;
    border-radius: 23px;
    align-items: center;
    color: white;
    width: 200px;
}
.search-box{
    border: 2px solid rgb(59, 55, 55);
    border-radius: 30px;
    display: flex;
    height: 30px;
    
}
.home{
    display: flex;
    row-gap: 23px;
}
.icon{
    display: flex;
    gap: 10px;
}
.Install{
    color: white;
    display: flex;
    align-items: center;
    gap: 23px;
}
.main{
    display: flex;
    align-items: center;
    position: relative;
    left: 50px;
    gap: 20px;
}
.left-sidebar{
    border: 2px solid #121212;
    border-radius: 12px;
    width: 360px;
    height: 80vh;
    background-color: #121212;
    margin: 12px;
}
.library{
display: flex;
background-color: #121212;
justify-content: space-around;
align-items: center;

}
.libsec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    margin: 10px;
}
.rightlib{
    display: flex;
    justify-content: center;
    background-color: #121212;
    gap: 5px;
    margin: 10px;
}
.Artists,p{
    color: white;
    background-color: #121212;
}
.logo{
    border: 2px solid rgb(5, 5, 5);    
    border-radius: 50px;
    height: 30px;
    background-color: #121212;
    width: 30px;
    align-items: center;
    justify-content: center;
    outline: 50px;
    object-fit:cover;
}
.headlogo {
    display: flex;
    align-items: center;
    background-color: #121212;
}

